# Angular:

# Compiled output
view/dist
view/tmp
view/out-tsc
view/bazel-out

# Node
view/node_modules
view/npm-debug.log
view/yarn-error.log

# IDEs and editors
view/.idea/
view/.project
view/.classpath
view/.c9/
view/*.launch
view/.settings/
view/*.sublime-workspace

# Visual Studio Code
view/.vscode/*
view/!.vscode/settings.json
view/!.vscode/tasks.json
view/!.vscode/launch.json
view/!.vscode/extensions.json
view/.history/*

# Miscellaneous
view/.angular/cache
view/.sass-cache/
view/connect.lock
view/coverage
view/libpeerconnection.log
view/testem.log
view/typings

# System files
view/.DS_Store
view/Thumbs.db


# Laravel:
backend/*.log
backend/.DS_Store
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.fleet
backend/.idea
backend/.nova
backend/.phpunit.cache
backend/.vscode
backend/.zed
backend/auth.json
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/Homestead.json
backend/Homestead.yaml
backend/Thumbs.db

.editorconfig