/* todo-card.component.scss */
.todo-card {
  max-width: 400px;
  /* Limits the width on larger screens */
  width: 100%;
  /* Allows it to shrink on smaller screens */
  margin: 16px auto;
  /* Centers the card horizontally */
  box-sizing: border-box;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-icon {
  font-size: 20px;
}