<!-- <mat-list>
  <mat-list-item>
    <span matListItemTitle>Pepper</span>
    <span matListItemLine>Produced by a plant</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>Salt</span>
    <span matListItemLine>Extracted from sea water</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>Paprika</span>
    <span matListItemLine>Produced by dried and ground red peppers</span>
  </mat-list-item>
</mat-list>

<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-card class="todo-card">
        <mat-card-content>
            <p>Dit moet ik nog doen</p>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="todo-card">
        <mat-card-content>
            <p>Dit ook</p>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</mat-grid-list>